{% extends "base.html" %}

{% block title %}Roll | Dietruth{% endblock %}

{% block content %}

<div>
    <h1><i>{{ roll.description }}</i></h1>
    <h1>{{ roll.query }}:</h1>
    <ul>
        {% for die in formatted_dice %}
        <li><h2>{{ die }}</h2></li>
        {% endfor %}
    </ul>
</div>

<p>Rolled at {{ roll.created_at }}. Confirm with the <i>Data</i> section below.</p>

{% if roll.signature %}
<p>Signature {{ roll.signature }}</p>
<p>Data {{ roll.randomdata }}</p>
{% endif %}

{% endblock %}
